<div class="main-wrapper">
  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">

      <!-- BREADCRUMBS -->
      <app-breadcrumbs></app-breadcrumbs>

      <!-- MI SISTEMA DE RUTAS -->
      <router-outlet></router-outlet>


      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
            </div>
          </div>
        </div>
      </div> -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->


    </div>

    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © 20xx Admin Pro by wrappixel.com
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>


</div>

<app-modal-imagen></app-modal-imagen>