<div class="row animated fadeIn">
	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h3>Usuarios</h3>

				<!-- TODO se genera con el snipet alert -->
				<div class="alert alert-info" role="alert"
						*ngIf="usuarios.length === 0">
					<div class="mb-0">
						No hay usuario con ese termino 
					</div>
				</div>

				<div class="table-responsive"
				*ngIf="usuarios.length !== 0">
					<table class="table">
						<thead>
							<tr>
								<th>Avatar</th>
								<th>Nombre</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let usuario of usuarios">
								<td>
									<img [src]="usuario.img | imagen:'usuarios'" alt="" class="w75">
								</td>
								<td>{{usuario.nombre}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h3>Usuarios</h3>

				<!-- TODO se genera con el snipet alert -->
				<div class="alert alert-info" role="alert"
							*ngIf="libros.length === 0">
					<div class="mb-0">
						No hay Libros con ese termino 
					</div>
				</div>

				<div class="table-responsive"
				*ngIf="libros.length !== 0">
					<table class="table">
						<thead>
							<tr>
								<th>Avatar</th>
								<th>Nombre</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let libro of libros">
								<td>
									<img [src]="libro.img! | imagen:'libros'" alt="" class="w75">
								</td>
								<td>{{libro.nombre}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h3>Hospitales</h3>

				<!-- TODO se genera con el snipet alert -->
				<div class="alert alert-info" role="alert"
				*ngIf="hospitales.length === 0">
					<div class="mb-0">
						No hay hospitales con ese termino 
					</div>
				</div>

				<div class="table-responsive"
				*ngIf="hospitales.length !== 0">
					<table class="table">
						<thead>
							<tr>
								<th>Avatar</th>
								<th>Nombre</th>
							</tr>
						</thead>
						<tbody>
							<tr  *ngFor="let hospital of hospitales">
								<td>
									<img [src]="hospital.img! | imagen:'hospitales'" alt="" class="w75">
								</td>
								<td>{{hospital.nombre}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>