<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi Perfil de Usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form class="form p-t-20" [formGroup]="perfilForm" (submit)="actualizarPerfil()">
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Nombre"
                formControlName="nombre"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Email"
                formControlName="email"
                [readonly]="usuario.google"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="perfilForm.invalid"
            >
            <i class="fa fa-save"></i>
            Guardar Cambios
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen del Usuario</h6>


        <div class="text-center">
				  <img *ngIf="!imgTemp" [src] ="usuario.imageUrl" alt="" class="img-avatar">
				  <img *ngIf="imgTemp" [src] ="imgTemp" alt="" class="img-avatar">
        </div>
				<input
               type="file"
               accept="image/*"
              (change)="cambiarImagen($event)">
				<br>

				<button
            type="button"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="!imagePerfil"
            (click)="subirImagen()"
            >
            <i class="fa fa-save"></i>
            Cambiar Imagen
          </button>

      </div>
    </div>
  </div>
</div>
