<div class="fondo-modal-imagen fadeIn fast" 
      [class.oculto]="modalImagenService.ocultarModal">
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar Imagen</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Seleccione una Imagen</h3>

          <div class="text-center">
            <img *ngIf="!imgTemp" [src] ="modalImagenService.img" alt="" class="img-avatar">
            <img *ngIf="imgTemp" [src] ="imgTemp" alt="" class="img-avatar">
          </div>
          <input
                 type="file"
                 accept="image/*"
                (change)="cambiarImagen($event)">
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="cerrarModal()"
          >
            Cancelar
          </button>
          <button 
            type="button"
            class="btn btn-primary"
            (click)="subirImagen()"
          >Cambiar Foto</button>
        </div>
      </div>
    </div>
  </div>
</div>
