<div class="row animated fadeIn text-center">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Libro..."
					#txtTermino
					(keyup)="buscar(txtTermino.value)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast text-center"
			*ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-success">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por Favor Espere</p>
    </div>
  </div>
</div>

<div class="row" 
		*ngIf="!cargando">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">


        <div class="row">
          <div class="col-8">

            <h4 class="card-title">Libros Creados en la App - ({{libros.length}})</h4>
            <h6 class="card-subtitle">
              Lista de Libros
            </h6>
          </div>

          <div class="col">
            <div class="text-right">
              <a class="btn btn-primary"
                  routerLink="/dashboard/libro/nuevo">
                <i class="fa fa-hospital-o">
                  Crear Libro
                </i>
              </a>
            </div>
          </div>
        </div>



        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="w100 text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let libro of libros">
                <td>
									<img [src]="libro.img! | imagen:'libros'"
                      [alt]="libro.nombre"
                      class="avatar cursor"
                      (click)="abrirModal(libro)">
								</td>
                <td>
									{{libro.nombre}}
								</td>
                <!-- <td>
                  <div class="progress progress-xs margin-vertical-10">
                    <div
                      class="progress-bar bg-danger"
                      style="width: 35%; height: 6px"
                    ></div>
                  </div>
                </td>
                <td>May 15, 2015</td> -->
                <td class="text-nowrap">
                  <a
										[routerLink]="[ '/dashboard/libro', libro._id ]"
                    data-toggle="tooltip"
                    data-original-title="Editar"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    (click)="borrarLibro(libro)"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

				<!-- <button class="btn btn-secondary">Anteriores</button>&nbsp;
				<button class="btn btn-secondary">Siguientes</button> -->
      </div>
    </div>
  </div>
</div>
