<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Libro</h4>
				<h6 class="card-subtitle">Actualizar Libro</h6>
	
				<form class="form-horizontal p-t-20" [formGroup]="libroForm" (submit)="guardarLibro()">
	
	
					<div class="form-group row"
							*ngIf="libroSeleccionado">
						<label for="exampleInputuname3" class="col-sm-3 control-labelImagen"></label>
						<div class="col-sm-9">
							<div class="input-group">
								<img [src]="libroSeleccionado.img! | imagen:'libros'" alt="" class="w200">
							</div>
						</div>
					</div>
	
					<div class="form-group row">
						<label for="exampleInputuname3" class="col-sm-3 control-label">Libro</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-addon"><i class="ti-user"></i></div>
								<input type="text"
												formControlName="nombre"
												class="form-control" 
												id="exampleInputuname3" 
												placeholder="Nombre del Libro">
							</div>
						</div>
					</div>
	
					<div class="form-group row">
						<label for="exampleInputEmail3" class="col-sm-3 control-label">Libro</label>
						<div class="col-sm-9">
							<div class="input-group">
								<select name="" id="" class="form-control"
												formControlName="hospital">
									<option value="">Seleccione Hospital</option>
									<option *ngFor="let hospital of hospitales" [value]="hospital._id">
										
										{{hospital.nombre}}
									</option>
								</select>
							</div>
						</div>
					</div>
	
					<div class="form-group row">
						<div class="offset-sm-3 col-sm-9">
							<button  [disabled]="libroForm.invalid" type="submit" class="btn btn-success waves-effect waves-light">
								<i class="fa fa-save"></i>
								Guardar
							</button>
						</div>
					</div>
	
				</form>
	
	
			</div>
		</div>
	</div>

	<div class="col-md-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Hospital</h4>
				<h6 class="card-subtitle">{{hospitalSeleccionado.nombre}}</h6>


				<img [src]="hospitalSeleccionado.img! | imagen:'hospitales'" alt="" class="w200">
				
			</div>
		</div>
	</div>
</div>