<div class="row animated fadeIn text-center">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Usuario..."
          #txtTermino
          (keyup)="buscar(txtTermino.value)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast text-center"
    *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-success">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por Favor Espere</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-8">

            <h4 class="card-title">Hospitales Creados en la App - ({{hospitales.length}})</h4>
            <h6 class="card-subtitle">
              Lista de Hospitales
            </h6>
          </div>

          <div class="col">
            <div class="text-right">
              <button class="btn btn-primary"
                      (click)="abrirSweetAlert()">
                <i class="fa fa-hospital-o">
                  Crear Hospital
                </i>
              </button>
            </div>
          </div>
        </div>

        

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="w100 text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td class="text-center">
                  <img [src]="hospital.img! | imagen:'hospitales'"
                      [alt]="hospital.nombre"
                      class="avatar cursor"
                      (click)="abrirModal(hospital)">
                </td>
                <td>
									<input type="text"
												class="form-control"
												placeholder="Nombre del Hospital"
                        [(ngModel)]="hospital.nombre"
                  >
								</td>
                <!-- <td>
                  <div class="progress progress-xs margin-vertical-10">
                    <div
                      class="progress-bar bg-danger"
                      style="width: 35%; height: 6px"
                    ></div>
                  </div>
                </td>
                <td>May 15, 2015</td> -->
                <td class="text-nowrap text-center">
                  <a
                    (click)="guardarCambios(hospital)"
                    data-toggle="tooltip"
                    class="cursor"
                    data-original-title="Guardar Cambios"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    (click)="eliminarHospital(hospital)"
                    data-toggle="tooltip"
                    class="cursor"
                    data-original-title="Borrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

				<!-- <button class="btn btn-secondary">Anteriores</button>&nbsp;
				<button class="btn btn-secondary">Siguientes</button> -->
      </div>
    </div>
  </div>
</div>
