/* You can add global styles to this file, and also import other style files */


.fast {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

#themecolors .selector, .cursor {
  cursor: pointer;
}

#google-btn{
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
}

.img-avatar{
  width: 200px;
  height: 200px;
}

.w100 {
  width: 100px
}

.w140 {
  width: 140px
}

.w200 {
  width: 200px
}
.w75 {
  width: 75px
}
.avatar{
  border: 1px solid grey;
  border-radius:100%;
  width: 50px;
}

.oculto{
  display: none;
}

.fondo-modal-imagen {
  background-color: rgba(0,0,0,0.4);
  left: 0px;
  heigth: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}