<div class="row animated fadeIn text-center">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Usuario..."
          #txtTermino
          (keyup)="buscar(txtTermino.value)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast text-center"
      *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-success">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por Favor Espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios Registrados en la App ({{ totalUsuarios  }})</h4>
        <h6 class="card-subtitle">
          Lista de Usuarios Registrados Exitosamente
        </h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140">Admin?</th>
                <th class="w100">Cuenta</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td class="text-center">
                  <img [src]="usuario.imageUrl"
                        alt="Avatar de Usuario" 
                        class="avatar cursor"
                        (click)="abrirModal(usuario)">
                </td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombre}}</td>
                <td>
                  <select class="form-control"
                          [(ngModel)]="usuario.role"
                          (change)="cambiarRole(usuario)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                  <span *ngIf="usuario.google" class="label label-danger">Google</span>
                  <span *ngIf="!usuario.google" class="label label-info">Email</span>
                </td>
                <!-- <td>
                  <div class="progress progress-xs margin-vertical-10">
                    <div
                      class="progress-bar bg-danger"
                      style="width: 35%; height: 6px"
                    ></div>
                  </div>
                </td>
                <td>May 15, 2015</td> -->
                <td class="text-nowrap text-center">
                  <a
                    data-toggle="tooltip"
                    data-original-title="Editar"
                    class="cursor"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    class="cursor"
                    (click)="eliminarUsuario(usuario)"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="txtTermino.value.length === 0">
				  <button (click)="cambiarPagina(-5)"class="btn btn-secondary">Anteriores</button>&nbsp;
				  <button (click)="cambiarPagina(5)"class="btn btn-secondary">Siguientes</button>
        </div>
      </div>
    </div>
  </div>
</div>
